
{% extends 'base.html.twig' %}

{% block title %}Hello ConnexionController!
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('app') }}
{% endblock %}


{% block body %}
	<main>
		<section class="block" id="connexion">
			<h1>Connexion</h1>
			<div class="allInput">
				{{ form_start(form) }}
				<input type="hidden" name="_csrf_token"
                    value="{{ csrf_token('authenticate') }}"
                >
				{% if error %}
					<div class="form_error"><strong>{{ error.messageKey|trans(error.messageData, 'security') }}</strong></div>
				{% endif %}
				<div class="inputBackground">
					<img src="img/user.png" alt="username">
					{{ form_widget(form.pseudo, {'attr': {'required': true}}) }}
				</div>
				{% for error in form.pseudo.vars.errors %}
                    <div class="form_error">{{ error.message }}</div>
                {% endfor %}
				<div class="inputBackground">
					<img src="img/key.png" alt="mot de passe">
						{{ form_widget(form.password, {
							'attr': {
								'required': true, 
							}
						}) }}
					<img id='password' src="img/hidden.png" alt="montrer et cacher mot de passe"/>
				</div>
				<p>*Le mot de passe doit cotenir au moins 8 caractères, une majuscule, un chiffre et un caractère spécial</p>
				{{ form_widget(form.submit) }}
			</div>
			{{ form_end(form) }}
			<div class="flex-row">
				<a href='/signIn'>
					<p>Je n'ai pas de compte</p>
				</a>
				<a href='#'>
					<p>Mot de passe oublié</p>
				</a>
			</div>
		</section>
	</main>
{% endblock %}


