{% extends 'base.html.twig' %}

{% block title %}Hello UserSpaceController!{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('profile') }}
    {{ encore_entry_script_tags("uploadFile") }}
    {{ encore_entry_script_tags("overlayCar") }}

    <script>
       document.addEventListener("DOMContentLoaded", function() {
        editBtn({{nbTotalCar}});
        });
    </script>
{% endblock %}


{% block body %}
<main>
    <section class='block' id='profile'>
        <div class="flex-row">
            <h1>Profile</h1>
            <div>
                <div>
                    <img src='img/{{userInfo.img ?? "user.png"}}' id="profile-pic" alt="profile"/>
                    <img src="img/edit.png" id="editPicture" alt="modification avatar de profile"/>
                </div>
                <div id="overlay" class="overlay">
                    <div class="overlayContent" >
                        <p>modifier la photo</p>
                        <input type="file" id="file" class="file-input"/>
                        <label for="file"><strong id="uploaded_image">Parcourrir...</strong></label>
                    </div>
                </div>
            </div>
            
        </div>
        {{ form_start(form) }}
            <div class="flex-row wrap">
            {% for choice in form.userType %}
                <div class="flex-row">
                    {{ form_widget(choice) }}
                    <p>{{ form_label(choice) }}</p>
                    {% set nbType = nbType + 1 %}
                </div>
            {% endfor %}     
            </div>
            <div class="allInput">
                <table>
                    <tr>
                        <td>Nom:</td>
                        <td>
                            <div class='inputBackground'>
                                {{ form_widget(form.name, {"attr": {"value": userInfo.name ? userInfo.name : "EcorideName" ~ userInfo.id }}) }}
                            </div>
                        </td>
                    <tr>
                    <tr>
                        <td colspan="2">
                            {% for error in form.name.vars.errors %}
                                <div class="form_error">{{ error.message }}</div>
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td>Prenom:</td>
                        <td>
                            <div class='inputBackground'>
                                {{ form_widget(form.surname, {"attr": {"value": userInfo.surname ? userInfo.surname : "Ecoride" ~ userInfo.id }}) }}

                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            {% for error in form.surname.vars.errors %}
                                <div class="form_error">{{ error.message }}</div>
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td>Email:</td>
                        <td>
                            <div class='inputBackground'>
                                {{ form_widget(form.email, {"attr":{"value":userInfo.email}}) }}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">{% for error in form.email.vars.errors %}
                            <div class="form_error">{{ error.message }}</div>
                        {% endfor %}</td>
                    </tr>
                    <tr>
                        <td>Telephone:</td>
                        <td>
                            <div class='inputBackground'>
                                {{ form_widget(form.phone, {"attr":{"value":userInfo.phone}}) }}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            {% for error in form.phone.vars.errors %}
                                <div class="form_error">{{ error.message }}</div>
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td>Pseudo:</td>
                        <td>
                            <div class='inputBackground'>
                                {{ form_widget(form.pseudo, {"attr":{"value":userInfo.username}}) }}
                            </div>
                        </td>
                    </tr>
                    <tr>
                    <td colspan="2">
                            {% for error in form.pseudo.vars.errors %}
                                <div class="form_error">{{ error.message }}</div>
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td>mot de passe actuel:</td>
                        <td>
                            <div class='inputBackground'>
                                {{ form_widget(form.password) }}
                                <img id='password' src="img/hidden.png" alt="montrer et cacher mot de passe"/>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            {% for error in form.password.vars.errors %}
                                <div class="form_error">{{ error.message }}</div>
                            {% endfor %}
                            {% if form.vars.errors|length > 0 %}
                                <div class="form_error">
                                    {% for error in form.vars.errors %}
                                        {{ error.message }}
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>nouveau mot de passe:</td>
                        <td>
                            <div class='inputBackground'>
                                {{ form_widget(form.newPassword) }}
                                <img id='newPassword' src="img/hidden.png" alt="montrer et cacher mot de passe"/>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            {% for error in form.newPassword.vars.errors %}
                                <div class="form_error">{{ error.message }}</div>
                            {% endfor %}
                        </td>
                    </tr>
                </table>
            </div>
            {{ form_row(form._token) }}
            {{ form_row(form.submit) }}
        {{ form_end(form) }}
    </section>
    <section class="flex-row">
        <section class='flex-column' id="rulesImgLeft">
            <img src="img/cleaning.png" alt="netoyer">
            <img src="img/handshake.jpg" alt="respect">
            <img src="img/quitting-time.png" alt="être à l'heure">
            <img src="img/checklist.png" alt="être organiser">
            <img src="img/brain.png" alt="travailler inteligament">
        </section>
        <section class='block' id='carpoolInfo'>
            <h1>Information covoiturage</h1>
            <div>
                {% for carAndEditCar in carAndCarEditForm %}
                    <div>
                        <div class='flex-row'>
                            <h3>Véhicule {{nbCar}}</h3>
                            <p style='text-decoration:underline;' id="edit{{nbCar}}">modifier</p>
                            <div id="overlayEditCar{{nbCar}}" class="overlay">
                                <div class="overlayContent">
                                    <p>Modifier véhicule</p>
                                    {{ form_start(carAndEditCar[1]) }}
                                    <table>
                                        <tr>
                                            <td>Plaque d'immatriculation: </td>
                                            <td>
                                                <div class='inputBackground'>
                                                    {{ form_widget(carAndEditCar[1].licensePlate, {"attr" :{ "value":carAndEditCar[0].licensePlate}}) }}
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                {% for error in carAndEditCar[1].licensePlate.vars.errors %}
                                                    <div class="form_error">{{ error.message }}</div>
                                                {% endfor %}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Première immatriculation: </td>
                                            <td>
                                                <div class='inputBackground'>
                                                  {{ form_widget(carAndEditCar[1].firstRegistration) }}  
                                                </div> 
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                {% for error in carAndEditCar[1].firstRegistration.vars.errors %}
                                                    <div class="form_error">{{ error.message }}</div>
                                                {% endfor %}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Marque: </td>
                                            <td>
                                                <div class='inputBackground'>
                                                   {{ form_widget(carAndEditCar[1].mark) }}

                                                </div>   
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                {% for error in carAndEditCar[1].mark.vars.errors %}
                                                    <div class="form_error">{{ error.message }}</div>
                                                {% endfor %}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Modèle: </td>
                                            <td>
                                                <div class='inputBackground'>
                                                   {{ form_widget(carAndEditCar[1].model,{"attr" :{ "value":carAndEditCar[0].model}}) }} 
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                {% for error in carAndEditCar[1].model.vars.errors %}
                                                    <div class="form_error">{{ error.message }}</div>
                                                {% endfor %}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Couleur: </td>
                                            <td>
                                                <div class='inputBackground'>
                                                    {{ form_widget(carAndEditCar[1].color, {"attr" :{ "value":carAndEditCar[0].color}}) }}
                                                </div>               
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                {% for error in carAndEditCar[1].color.vars.errors %}
                                                    <div class="form_error">{{ error.message }}</div>
                                                {% endfor %}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Energie: </td>
                                            <td>
                                                <div class='inputBackground'>
                                                    {{ form_widget(carAndEditCar[1].energie,{"attr" :{ "value":carAndEditCar[0].energie}}) }}
                                                </div>
                                               
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                {% for error in carAndEditCar[1].energie.vars.errors %}
                                                    <div class="form_error">{{ error.message }}</div>
                                                {% endfor %}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Nombre de place: </td>
                                            <td>
                                                <div class='inputBackground'>
                                                    {{ form_widget(carAndEditCar[1].nbPassenger, {"attr" :{ "value":carAndEditCar[0].nbPassenger}}) }} 
                                                </div>         
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                {% for error in carAndEditCar[1].nbPassenger.vars.errors %}
                                                    <div class="form_error">{{ error.message }}</div>
                                                {% endfor %}
                                            </td>
                                        </tr>
                                    </table>
                                    {{ form_widget(carAndEditCar[1]._token) }}
                                    {{ form_widget(carAndEditCar[1].submit) }}
                                    {{ form_end(carAndEditCar[1]) }}
                                </div>
                            </div>
                        </div>
                        <p>Plaque d'imatriculation: {{carAndEditCar[0].licensePlate}}</p>
                        <p>Premiière immatriuclation: {{carAndEditCar[0].firstRegistration|date('d/m/Y')}}</p>
                        <p>{{carAndEditCar[0].mark.label}}, {{carAndEditCar[0].model}}, {{carAndEditCar[0].color}}</p>
                        <p>Nombre de place disponible: {{carAndEditCar[0].nbPassenger}}</p>
                        <p>Energie utilisé: {{carAndEditCar[0].energie}}</p>
                    </div>
                    {% set nbCar = nbCar+1 %}
                {% endfor %}
                <div>
                    <img src="img/plus.png" id="plus-btn" alt='ajouter un élément'>
                    <div id="overlayNewCar" class="overlay">
                        <div class="overlayContent">
                            <p>Nouveau véhicule</p>
                            {{ form_start(newCarForm, { 'attr': { 'id': 'new_car' } }) }}
                            <table>
                                <tr>
                                    <td>Plaque d'immatriculation: </td>
                                    <td>
                                        <div class='inputBackground'>
                                            {{ form_widget(newCarForm.licensePlate) }}
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        {% for error in newCarForm.licensePlate.vars.errors %}
                                            <div class="form_error">{{ error.message }}</div>
                                        {% endfor %}
                                    </td>
                                </tr>
                                <tr>
                                    <td>Première immatriculation: </td>
                                    <td>
                                        <div class='inputBackground'>
                                            {{ form_widget(newCarForm.firstImmatriculation) }}
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        {% for error in newCarForm.firstImmatriculation.vars.errors %}
                                            <div class="form_error">{{ error.message }}</div>
                                        {% endfor %}
                                    </td>
                                </tr>
                                <tr>
                                    <td>Marque: </td>
                                    <td>
                                        <div class='inputBackground'>
                                            {{ form_widget(newCarForm.mark) }}
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        {% for error in newCarForm.mark.vars.errors %}
                                            <div class="form_error">{{ error.message }}</div>
                                        {% endfor %}
                                    </td>
                                </tr>
                                <tr>
                                    <td>Modèle: </td>
                                    <td>
                                        <div class='inputBackground'>
                                            {{ form_widget(newCarForm.model) }}
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        {% for error in newCarForm.model.vars.errors %}
                                            <div class="form_error">{{ error.message }}</div>
                                        {% endfor %}
                                    </td>
                                </tr>
                                <tr>
                                    <td>Couleur: </td>
                                    <td>
                                        <div class='inputBackground'>
                                            {{ form_widget(newCarForm.color) }}
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        {% for error in newCarForm.color.vars.errors %}
                                            <div class="form_error">{{ error.message }}</div>
                                        {% endfor %}
                                    </td>
                                </tr>
                                <tr>
                                    <td>Energie: </td>
                                    <td>
                                        <div class='inputBackground'>
                                            {{ form_widget(newCarForm.energie) }}
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        {% for error in newCarForm.energie.vars.errors %}
                                            <div class="form_error">{{ error.message }}</div>
                                        {% endfor %}
                                    </td>
                                </tr>
                                <tr>
                                    <td>nombre de place: </td>
                                    <td>
                                        <div class='inputBackground'>
                                            {{ form_widget(newCarForm.nbPassenger) }}
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        {% for error in newCarForm.nbPassenger.vars.errors %}
                                            <div class="form_error">{{ error.message }}</div>
                                        {% endfor %}
                                    </td>
                                </tr>
                            </table>
                            {{ form_row(newCarForm._token) }}
                            {{ form_widget(newCarForm.submit) }}
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
                <div>
                    <h3>Préférence:</h3>
                    {{ form_start(preferenceForm) }}
                        <div>
                            <div class='flex-row'>
                                {% for choice in preferenceForm.choicePreferences %}
                                    <div>
                                        {{ form_widget(choice) }}
                                        <p>{{ form_label(choice) }}</p>
                                    </div>
                                {% endfor %}
                            </div>
                        {{ form_widget(preferenceForm.submit) }}
                        {{ form_end(preferenceForm) }} 
                    </div>
                    {{ form_start(addPreferenceForm) }}
                    <p>Nouveaux:</p>
                    <div class="flex-row">    
                        <div class="flex-row">    
                            <div class='inputBackground'>
                                {{ form_widget(addPreferenceForm.newPreference) }} 
                            </div>
                        </div>
                        {{ form_widget(addPreferenceForm.submit) }}     
                    </div>
                    {% for error in addPreferenceForm.newPreference.vars.errors %}
                        <div class="form_error"><p>{{ error.message }}</p></div>
                    {% endfor %}
                    {{ form_end(addPreferenceForm) }} 
                </div>
            </div>
        </section>
        <section class='flex-column' id="rulesImgRight">
            <img src="img/brain.png" alt="travailler inteligament">
             <img src="img/checklist.png" alt="être organiser">
            <img src="img/quitting-time.png" alt="être à l'heure">
            <img src="img/handshake.jpg" alt="respect">
            <img src="img/cleaning.png" alt="netoyer">
        </section>
    </section>
    <section class="block" id="carpoolOpinion">
        <h1>Avis sur le dernier covoiturage</h1>
        <div class="flex-row">
            <div class="flex-row">
                <input type="radio" id='passenger' name='opinion' checked>
                <label for='passenger'>
                    <p>Bien passé</p>
                </label>
            </div>
            <div class='flex-row'>
                <input type="radio" id='driver' name='opinion'>
                <label for='driver'>
                    <p>Mal passé</p>
                </label>
            </div>
        </div>
        <div class="flex-row">
            <label for="optionText"><p>Avis:</p></label>
            <textarea placeholder="Avis"></textarea>
        </div>
        <button class="standard-btn">Valider</button>
    </section>
    <section class="block" id='resumeTravel'>
        <h1>Vos voyages</h1>
        <div class="sub-block">
            <div class='flex-row'>
                <h2>Pseudo</h2>
                <img src='img/userPicture.jpg' alt="phote de profil"/>
                <h3>4/5</h3>
            </div>
            <div class='flex-row'>
                <h2>9,00€</h2>
                <p>2 places restantes</p>
            </div>
            <div class='flex-row'>
                <div>
                    <p>Départ: 10/11/2024 à 9h00</p>
                    <p>Arrivée: 10/11/2024 à 10h30</p>
                </div>
                <p>Ecologique: oui</p>
            </div>
            <button class='standard-btn'>Détails</button>
        </div>
    </section>
    <section class="block" id="histori">
        <h1>Historique</h1>
        <div class="sub-block">
            <div class="flex-row">
                <div>
                    <p>Départ: 9h00 à Lille</p>
                    <p>Arrivée: 10h30 à Valencienne</p>
                </div>
                <p>9 crédits</p>
            </div>
            <div class='flex-row'>
                <button class="standard-btn">Anuller</button>
                <button class="standard-btn">Détails</button>
                <button class="standard-btn">Démarer</button>
            </div>
        </div>
        <div class="sub-block">
            <div class="flex-row">
                <div>
                    <p>Départ: 9h00 à Lille</p>
                    <p>Arrivée: 10h30 à Valencienne</p>
                </div>
                <p>9 crédits</p>
            </div>
            <div class='flex-row'>
                <button class="standard-btn">Anuller</button>
                <button class="standard-btn">Détails</button>
                <button class="standard-btn">Démarer</button>
            </div>
        </div>
    </section>
    <section class="block" id="travelOutpute">
        <h1>Saisie d'un voyage</h1>
        <div class='allInput'>
            <div class="inputBackground search">
                <img src="img/loupe.png" alt='loupe'/>
                <input type='search' class='input-place' placeholder='Lieu de départ'/>
            </div>
            <div class="inputBackground search">
                <img src="img/loupe.png" alt='loupe'/>
                <input type='search' class='input-place' placeholder="Lieu d'arrivée"/>
            </div>
            <div class="flex-row">
                <div class="inputBackground ">
                    <img src="img/shuttle.png" alt='départ'/>
                    <input type='datetime-local' class='input-place'/>
                </div>
                <div class="inputBackground">
                    <img src="img/finish-flag.png" alt='arrivée'/>
                    <input type='datetime-local' class='input-place'/>
                </div>
            </div>
            <div class="flex-row">
                <select>
                    <option><p>Choisir un véhicule</p></option>
                    <option><p>Véhicule 1</p></option>
                    <option><p>autre</p></option>
                </select>
                <div class="inputBackground">
                    <img src="img/price-tag.png" alt='horloge'/>
                    <input type='text' class='input-place' placeholder="prix en crédits"/>
                </div>
            </div>
        </div>
        <div>
            <p style="width:77vw;">* attention 2 crédits sont pris par la plateforme pour le bon fonctionnement de cette dernière</p>
        </div>
        <button class="standard-btn">Enregistrer</button>
    </section>
</main>
{% endblock %}
