{% extends 'base.html.twig' %}

{% block title %}Hello CarpoopDetailController!
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('participationRedirection') }}
	{{ encore_entry_script_tags("opinion")}}
{% endblock %}

{% block body %}
	<main>
		{% for message in app.flashes('error') %}
			<div class="form_error backgrandError">
				<p>{{ message }}</p>
			</div>
		{% endfor %}
		<section class='block' id='carpool-detail'>
			<div class='flex-row'>
				<h1>{{carpool.user.username}}</h1>
				<img src='img/{{carpool.user.img ??"user.png"}}' alt="phote de profil"/>
				<div>
					<div class="flex-row">
						<p>{{carpool.user.mark|round(1)}}</p>
						<h3>/5</h3>
					</div>
					<h3 class="underline" id="opinion_{{carpool.user.id}}">avis</h3>
				</div>
			</div>
			
			<div>
			    <div>
			        <h3>Le {{ formattedDate }}</h3>
			    </div>
				{% set diff = carpool.startDate.diff(carpool.endDate) %}
				<div class="flex-row">
					<div class="flex-row">
						<div class="flex-row">
							<p>{{diff.h}}h{{'%02d'|format(diff.i)}}</p>
							<div class="destinationLine">
								<div class="destinationPoint"></div>
								<div class="verticalLine"></div>
								<div class="destinationPoint"></div>
							</div>
							<div>
								<p>Départ: {{carpool.startDate|date("H\\hi")}} à {{carpool.startPlace}}</p>
								<p>Arrivée: {{carpool.endDate|date("H\\hi")}} à {{carpool.endPlace}}</p>
							</div>
						</div>
					</div>
					<h2>{{carpool.price}} crédits</h2>
				</div>
				<div class="flex-row">
					<p>{{carpool.placeLeft}} places restantes</p>
					<p>Ecologique: {% if carpool.isEcologique %} oui{% else %} non{% endif %}</p>
				</div>
			</div>
		</div>
		<div>
			<p>Voiture utilisé: {{carpool.car.mark }}   {{carpool.car.model}}   {{carpool.car.color}}</p>
			<p>Energie utilisé: {{carpool.car.energie}}</p>
		</div>
		<div>
		   <h3>Préférence</h3>
		   {% for preference in preferences %}
			   <p>{{preference["preference"]}}</p>
		   {% endfor %}
		<div>
			{% set canSmockImg = "smoking.png" %}
			{% for preference in preferences %}
				{% if preference["preference"] == "Non-fummer" %}
					{% set canSmockImg = "no-smoking.png" %}
				{% endif %}
			{% endfor %}
			<img src="img/{{canSmockImg}}"/>
			{% set AllowPetImg = "pets-allowed.png" %}
			{% for preference in preferences %}
				{% if preference["preference"] == "Sans animaux" %}
					{% set AllowPetImg = "no-animals.png" %}
				{% endif %}
			{% endfor %}
			<img src="img/{{AllowPetImg}}"/>
		</div>
        <button id="participation-{{carpool.id}}" class='standard-btn'>participer</button>
	</section>
</main>
{% endblock %}
