{% extends 'base.html.twig' %}

{% block title %}Hello CreateAccountController!{% endblock %}
{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('createAccountPassword') }}
{% endblock %}



{% block body %}
<main>
    <section id="illustrationPage">
        <img src="img/welcome.png" alt="bienvenue"/>
    </section>
    <section class="block" id="createAccount">
        <h1>Créer un compte utilisateur</h1>
            <div class="allInput">
                {{ form_start(form) }}
                <div class="inputBackground">
                    <img src="img/mail.png" alt="email">
                    {{ form_widget(form.email) }}
                </div>
                {% for error in form.email.vars.errors %}
                    <div class="form_error">{{ error.message }}</div>
                {% endfor %}
                <div class="inputBackground">
                    <img src="img/user.png" alt="username">
                    {{ form_widget(form.pseudo) }}
                </div>
                {% for error in form.pseudo.vars.errors %}
                    <div class="form_error">{{ error.message }}</div>
                {% endfor %}
                <div class="inputBackground">
                    <img src="img/key.png" alt="mot de passe"/>
                    {{ form_widget(form.password) }}
                    <img id='password' src="img/hidden.png" alt="montrer et cacher mot de passe"/>
                </div>
                {% for error in form.password.vars.errors %}
                    <div class="form_error">{{ error.message }}</div>
                {% endfor %}
                <div class="inputBackground">
                    <img src="img/key.png" alt="mot de passe">
                    {{ form_widget(form.passwordEgain) }}
                    <img id='comformPassword' src="img/hidden.png" alt="montrer et cacher mot de passe"/>
                </div>
                {% for error in form.passwordEgain.vars.errors %}
                    <div class="form_error">{{ error.message }}</div>
                {% endfor %}
                <div class="form_error">
                    {% for error in form.vars.errors %}
                        {{ error.message }}
                    {% endfor %}
                </div>
                {{ form_widget(form._token) }}
                <p>*Le mot de passe doit cotenir au moins 8 caractères, une majuscule, un chiffre et un caractère spécial</p>
            {{ form_widget(form.submit) }}
            </div>
        {{ form_end(form) }}
        <a class="links" href='/connexion'><p>J'ai déjà un compte</p></a>
    </section>
</main>
{% endblock %}
