{% extends 'base.html.twig' %}

{% block title %}Hello AdministrationSpaceController!{% endblock %}

{% block javascripts %}
	{{ parent() }}
    {{ encore_entry_script_tags('createAccountPassword') }}
    {{encore_entry_script_tags('graph')}}
    {{encore_entry_script_tags("suspend")}}

    
{% endblock %}

{% block body %}
<main>
    <section class="block" id="createEmployee">
        <h1>Créer un compte employée</h1>
        <div class="allInput">
                {{ form_start(form) }}
                <div class="inputBackground">
                    <img src="img/mail.png" alt="email">
                    {{ form_widget(form.email) }}
                </div>
                {% for error in form.email.vars.errors %}
                    <div class="form_error">{{ error.message }}</div>
                {% endfor %}
                <div class="inputBackground">
                    <img src="img/user.png" alt="username">
                    {{ form_widget(form.pseudo) }}
                </div>
                {% for error in form.pseudo.vars.errors %}
                    <div class="form_error">{{ error.message }}</div>
                {% endfor %}
                <div class="inputBackground">
                    <img src="img/key.png" alt="mot de passe"/>
                    {{ form_widget(form.password) }}
                    <img id='password' src="img/hidden.png" alt="montrer et cacher mot de passe"/>
                </div>
                {% for error in form.password.vars.errors %}
                    <div class="form_error">{{ error.message }}</div>
                {% endfor %}
                <div class="inputBackground">
                    <img src="img/key.png" alt="mot de passe">
                    {{ form_widget(form.passwordEgain) }}
                    <img id='confirmPassword' src="img/hidden.png" alt="montrer et cacher mot de passe"/>
                </div>
                {% for error in form.passwordEgain.vars.errors %}
                    <div class="form_error">{{ error.message }}</div>
                {% endfor %}
                <div class="form_error">
                    {% for error in form.vars.errors %}
                        {{ error.message }}
                    {% endfor %}
                </div>
                {{ form_widget(form._token) }}
                <p>*Le mot de passe doit cotenir au moins 8 caractères, une majuscule, un chiffre et un caractère spécial</p>
            {{ form_widget(form.submit) }}
            </div>
        {{ form_end(form) }}
    </section>
    <section class="block" id="nbCarpool">
        <h1>Nombre de covoiturage par jour</h1>
        <div class="flex-row">
            <img src="img/right-arrow.png" alt="flèche vers la gauche" id="CountCarpoolLeft"/>
            <p>Semaine du <span id="startWeek"></span> au <span id="endWeek"></span></p>
            <img src="img/right-arrow.png" alt="flèche vers la droite" id="CountCarpoolRight"/>
        </div>
       <canvas id="NbCarpoolChart" ></canvas>
    </section>
    <section class="block" id="nbCredit">
        <h1>Nombre de crédit en fonction des jours</h1>
        <div class="flex-row">
            <img src="img/right-arrow.png" alt="flèche vers la gauche" id="CountCreditLeft"/>
            <p>Semaine du <span id="startWeekCredit"></span> au <span id="endWeekCredit"></span></p>
            <img src="img/right-arrow.png" alt="flèche vers la droite" id="CountCreditRight"/>
        </div>
        <canvas id="nbCreditsChart" ></canvas>
    </section>
    <section class='block' id="totalCredit">
        <h1>Gain total de la plateforme</h1>
        <h3>{{nbTotalCreditPlatform}} crédis</h3>
    </section>
    <section class="block" id="blockAccount">
        <h1>Supendre un utiliseur ou un employée</h1>
        <div class="inputBackground search">
            <img src="img/loupe.png" alt='loupe'/>
            <input type='search' class='input-place' placeholder='Nom à suspendre' id="suspendSearch"/>
        </div>
        <div id="AllUserSupend">
            {% for user in allUser %}
                <div class="sub-block">
                    <div class="flex-row">
                        <p>{{user.username}}</p>
                        {% if "ROLE_USER" in user.roles %}
                            <p>Utilisateur</p>   
                        {% else %}
                            <p>Employée</p> 
                        {% endif %}
                        <img src="img/suspended.png" alt="susprendre" id="suspend-{{user.id}}" {% if user.isSuspend %}class="suspend"{% endif %}/>
                    </div>
                </div>    
            {% endfor %}
        </div>
    </section>
</main>
{% endblock %}
