{% extends 'base.html.twig' %}

{% block title %}Hello EmployeeSpaceController!{% endblock %}
{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('validOpinion') }}
{% endblock %}

{% block body %}
<main>
    <section class="block" id="validOpinion">
        <h1>Validation des avis</h1>
        {% if opinions == null %}
            <p>Il n'y a pas d'avis à valider</p>
        {% endif %}
        {% for opinion in opinions %}
            {% if opinion.opinion != null %}
                <div class="sub-block">
                    <div class="flex-row">
                        <p>{{opinion.user.username}}</p>
                        <p>{{opinion.id}}</p>
                    </div>
                    <div class="flex-row">
                        <p>{{opinion.opinion}}</p>
                        <div class="flex-row">
                            <img src="img/checkmark.png" alt="valider" id="validBtn-{{opinion.id}}"/>
                            <img src="img/close.png" alt="non valider" id="noValidBtn-{{opinion.id}}"/>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </section>
    <section class="block" id="badTravel">
        <h1>Trajet mal passés</h1>
        {% if badTravel == null %}
            <p>Il n'y a pas eu d'incident récent</p>
        {% endif %}
        {% for badTravel in badTravel %}
            <div class="sub-block">
            <div class="flex-row">
                <p>{{badTravel.id}}</p>
                <p>Par {{badTravel.user.username}} pour {{badTravel.driver.username}}</p>
            </div>
            <div class="flex-row">
                <div>
                    <p>Conducteur: {{badTravel.driver.email}}</p>
                    <p>Passager: {{badTravel.user.email}}</p>
                </div>
                <div>
                    <p>Départ à {{badTravel.carpool.startDate|date("H\\hi")}} à {{badTravel.carpool.startPlace}}</p>
                    <p>Arrivé à {{badTravel.carpool.endDate|date("H\\hi")}} à {{badTravel.carpool.endPlace}}</p>
                </div>
            </div>
            <p style="text-align:center;margin:0 7vw">{{badTravel.opinion}}</p>
        </div>   
        {% endfor %}
        
</main>
{% endblock %}
