{% extends 'base.html.twig' %}

{% block javascripts %}
	
    {% if search != null %}
        {{ parent() }}    
        {{ encore_entry_script_tags('filter-mobile') }}

    {% endif %}
	
{% endblock %}

{% block body %}
<main class='flex-row' id='carpoolPage'>
    <section id='search-show'>
        <section class='block' id='search-bar'>
            <h1>Itinéraire</h1>
            <div class="allInput">
                {{ form_start(form) }}
                    <div class="inputBackground search">
                        <img src="img/loupe.png" alt='loupe'/>
                        {{ form_widget(form.startPlace) }} 
                    </div>
                    {% for error in form.startPlace.vars.errors %}
                            <div class="form_error">{{ error.message }}</div>
                    {% endfor %}
                    <div class="inputBackground search">
                        <img src="img/loupe.png" alt='loupe'/>
                        {{ form_widget(form.endPlace) }} 
                    </div>
                    {% for error in form.endPlace.vars.errors %}
                            <div class="form_error">{{ error.message }}</div>
                    {% endfor %}
                    <div class="inputBackground date">
                        <img src="img/calendar.png" alt='canlendrier'/>
                        {{ form_widget(form.startDate) }}
                    </div>
                    {% for error in form.startDate.vars.errors %}
                            <div class="form_error">{{ error.message }}</div>
                    {% endfor %}
                    {{form_row(form.submit)}}
                </div>
                
            {{ form_end(form) }}
        </section>
        {% if search != null %}
            <section>
                <div id="btnFilter">
                    <button class="standard-btn" id="filter-btn">Filtre</button>
                </div>
            </section>
            {% for search in search %}
                <section class='block' id="show-carpool">
                    <div>
                        <div class='flex-row'>
                            <h2>{{search.user.pseudo}}</h2>  
                            <img src='img/userPicture.jpg' alt="phote de profil"/>
                            <h3>4/5</h3>
                        </div>
                        <div class='flex-row'>
                            <h2>{{search.price}}€</h2>
                            <p>{{search.placeLeft}} places restantes</p>
                        </div>
                        <div class='flex-row'>
                            <div>
                                <p>Départ: {{search.startDate|date('d/m/Y H:i')}}</p>
                                <p>Arrivée: {{search.endDate|date('d/m/Y H:i')}}</p>
                            </div>
                            <p>Ecologique: {% if search.isEcologique %}oui {% else %}non{% endif %}</p>
                        </div>
                        <button class='standard-btn'>Détails</button>
                    </div>
                </section>
            {% endfor %}
            {% else %}
            <h3 style="text-align:center;">Vous d'avait soit pas saisi de voyage ou soit que votre voyage n'existe pas, veuillez réessayer.</h3>
        {% endif %}
    </section>
    {% if search != null %}
        <section class="block none" id='filter'>
            <h1>Filter</h1>
            <div>
                <div class='flex-row'>
                    <input type="checkbox" id="ecologie"  value="ecologie"/>
                    <label for="ecologie"><p>Ecologique</p></label>
                </div>
                <label for='maxPrices'><p>Prix maximum (crédits):</p></label>
                <input type='number' placeholder='100' id='maxPrices'/>
                <label for='maxTimes'><p>Durée maximum:</p></label>
                <input type='time' id='maxTimes'/>
                <p>Note minimal:</p>
                <div class='flex-row'>
                    <input type='text' placeholder='2'>
                    <p>/5</p>
                </div>
            </div>
        </section>
    {% endif %}
</main>

{% endblock %}
