{% extends 'base.html.twig' %}

{% block javascripts %}
	
    {% if search != null %}
        {{ parent() }}    
        {{ encore_entry_script_tags('filter-mobile') }}
        {{ encore_entry_script_tags('detailsRedirection') }}
    {% endif %}
	
{% endblock %}

{% block body %}

<main class='flex-row' id='carpoolPage'>
    <section id='search-show'>
        <section class='block' id='search-bar'>
            <h1>Itinéraire</h1>
            <div class="allInput">
                {{ form_start(form) }}
                    <div class="inputBackground search">
                        <img src="img/loupe.png" alt='loupe'/>
                        {{ form_widget(form.startPlace) }} 
                    </div>
                    {% for error in form.startPlace.vars.errors %}
                            <div class="form_error">{{ error.message }}</div>
                    {% endfor %}
                    <div class="inputBackground search">
                        <img src="img/loupe.png" alt='loupe'/>
                        {{ form_widget(form.endPlace) }} 
                    </div>
                    {% for error in form.endPlace.vars.errors %}
                            <div class="form_error">{{ error.message }}</div>
                    {% endfor %}
                    <div class="inputBackground date">
                        <img src="img/calendar.png" alt='canlendrier'/>
                        {{ form_widget(form.startDate) }}
                    </div>
                    {% for error in form.startDate.vars.errors %}
                            <div class="form_error">{{ error.message }}</div>
                    {% endfor %}
                    {{form_row(form.submit)}}
                </div>
                
            {{ form_end(form) }}
        </section>
        {% if search is not null and search|length != carpoolParticipation|length %}
            <section>
                <div id="btnFilter">
                    <button class="standard-btn" id="filter-btn">Filtre</button>
                </div>
            </section>
            
            {% for search in search %}
                {% if (search in carpoolParticipation) == false %}
                
                    <section class='block' id="show-carpool">
                        <div>
                            <div class='flex-row'>
                                <h2>{{search.user.username}}</h2>  
                                <img src='img/{{search.user.img ??"user.png"}}' alt="phote de profil"/>
                                <div>
                                    <div class="flex-row">
                                        <p>{{search.user.mark|round(1)}}</p>
                                        <h3>/5</h3>
                                    </div>
                                </div>
                            </div>
                            <div class='flex-row'>
                                <h2>{{search.price}}€</h2>
                                <p>{{search.placeLeft}} places restantes</p>
                            </div>
                            <div class='flex-row'>
                                <div>
                                    <p>Départ: {{search.startDate|date('d/m/Y H:i')}}</p>
                                    <p>Arrivée: {{search.endDate|date('d/m/Y H:i')}}</p>
                                </div>
                                <p>Ecologique: {% if search.isEcologique %}oui {% else %}non{% endif %}</p>
                            </div>
                            <button class='standard-btn' id="detail-btn-{{search.id}}">Détails</button>
                        </div>
                    </section>
                {% endif %}
            {% endfor %}
            {% else %}
            <h3 style="text-align:center;">Vous d'avait soit pas saisi de voyage ou soit que votre voyage n'existe pas, veuillez réessayer.</h3>
        {% endif %}
    </section>
    {% if search != null %}
        <section class="block none" id='filter'>
            <h1>Filter</h1>
            {{ form_start(filterForm) }}
                <div>
                    <div class='flex-row' id="isEcologique">
                        {% for choice in filterForm.isEcologique %}
                            {{ form_widget(choice) }}
                            <p>{{ form_label(choice) }}</p>
                        {% endfor %}
                    </div>
                    <div class="flex-column">
                        <label for='maxPrices'><p>Prix maximum (crédits):</p></label>
                        {{ form_widget(filterForm.maxPrice) }}
                    </div>
                    <div>
                        {% for error in filterForm.maxPrice.vars.errors %}
                            <div class="form_error">{{ error.message }}</div>
                        {% endfor %}
                    </div>
                    <div class="flex-column">
                        <label for='maxTimes'><p>Durée maximum:</p></label>
                        {{ form_widget(filterForm.maxTime) }}
                    </div>
                    <div>
                        <p>Note minimal:</p>
                        <div class='flex-row'>
                            {{ form_widget(filterForm.minMark) }}
                            <p>/5</p>
                        </div>
                    </div>
                    <div>
                        {% for error in filterForm.minMark.vars.errors %}
                            <div class="form_error">{{ error.message }}</div>
                        {% endfor %}
                    </div>
                </div>
                {{ form_row(filterForm.submit) }}
            {{ form_end(filterForm) }}
            
        </section>
    {% endif %}
</main>

{% endblock %}
